@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="pr-3">
            Hello, @context.User.Identity.Name!
        </span>
        <MatButton Unelevated="true" @onclick="@(() => Navigate("/auth/logout"))">Log Out</MatButton>
    </Authorized>
    <NotAuthorized>
        <MatButton Unelevated="true" @onclick="@(() => Navigate("/auth/login"))">Login</MatButton>
        <MatButton Unelevated="true" @onclick="@(() => Navigate("/auth/registration"))">Registration</MatButton>
    </NotAuthorized>
</AuthorizeView>

@code
{
    protected void Navigate(string path)
    {
        Navigation.NavigateTo(path);
    }
}