@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Common settings */
html, body {
    font-family: 'Comic Neue', cursive !important;
}

* {
    font-family: 'Comic Neue', cursive !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.mdc-button {
    text-transform: unset !important;
    margin-left: 0.8rem;
}

/* Main settings */
#main {
    padding: 1rem;
    margin-top: 4rem;
}

/* Navigator settings */
.navigator .navigator-title a {
    color: white;
}

.navigator a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: unset;
}

/* Title box */
.main-title {
    color: #5120a5;
    font-weight: bold;
    font-size: 1.6rem;
}


app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}