.page .action-bar {
  background-color: rgba(240, 174, 73, 0.4);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  color: #5120a5;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-direction: row; }
  .page .action-bar .spacer {
    flex-grow: 1; }

.page .friend-list .friend-card {
  background-color: rgba(187, 187, 255, 0.4);
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  color: #5120a5;
  padding: 0.5rem;
  display: flex;
  flex-direction: column; }
  .page .friend-list .friend-card .spacer {
    flex-grow: 1; }
  .page .friend-list .friend-card .title {
    color: #5120a5;
    font-weight: bold; }
  .page .friend-list .friend-card .picture {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    transition-duration: 0.5s;
    box-shadow: 0 0 0.5rem 0 #5120a5; }
    .page .friend-list .friend-card .picture:hover {
      transition-duration: 0.5s;
      transform: scale(1.4, 1.4);
      opacity: 0.3; }
    .page .friend-list .friend-card .picture img {
      width: auto;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%); }
  .page .friend-list .friend-card .card-action-bar {
    text-align: right; }

.page .friend-request-list .friend-request {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  color: #5120a5;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 174, 73, 0.4); }
  .page .friend-request-list .friend-request .spacer {
    flex-grow: 1; }
  .page .friend-request-list .friend-request .title {
    color: #5120a5;
    font-weight: bold; }
  .page .friend-request-list .friend-request .content {
    margin: 0.8rem;
    background-color: #f0ae49;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: justify;
    border-left: #9575c6 3px solid; }
  .page .friend-request-list .friend-request .request-action-bar {
    text-align: right; }
