@page "/csomor"
@page "/csomor/{Id:int}"

<div class="setting">
    <div class="action-bar">
        <MatTooltip Tooltip="Save">
            <MatIconButton RefBack="@context" Icon="done"></MatIconButton>
        </MatTooltip>
    </div>
</div>