@import '../../Styles/_common.scss';

.setting {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;

    .action-bar {
        @include action-panel;
    }

    .csomor {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        @include main-panel;

        .tabs {
            flex-grow: 1;
            width: 100% !important;
            overflow: hidden;
        }
    }

    .list {
        flex-grow: 1;
        overflow: auto;
        .entity {
            @include panel;
            background-color: $white-trans;
        }
    }
}

.action {
    display: flex;
    padding: 0 1rem;

    .spacer {
        flex-grow: 1;
    }
}

.group {
    label {
        margin-bottom: unset;
    }
}