@page "/csomors"

<div class="csomor-list">
    <h1 class="em-page-title">Generators</h1>
    <div class="action-bar">
        <MatTooltip Tooltip="New Csomor">
            <MatIconButton RefBack="@context" Icon="add" OnClick="@(() => Navigation.NavigateTo("/csomor"))"></MatIconButton>
        </MatTooltip>
    </div>
    <div class="lists">
        @if (OwnedList != null && OwnedList.Count != 0)
        {
            <div class="list owned-list">
                <div class="em-sub-title">Owned</div>
                <div class="elements">
                    @foreach (var csomor in OwnedList)
                    {
                        <CsomorListElementComponent Csomor="csomor" ShowOwner="false"></CsomorListElementComponent>
                    }
                </div>
            </div>
        }
        @if (SharedList != null && SharedList.Count != 0)
        {
            <div class="list shared-list">
                <div class="em-sub-title">Shared</div>
                <div class="elements">
                    @foreach (var csomor in SharedList)
                    {
                        <CsomorListElementComponent Csomor="csomor" ShowIsShared="false"></CsomorListElementComponent>
                    }
                </div>
            </div>
        }
        @if (PublicList != null && PublicList.Count != 0)
        {
            <div class="list public-list">
                <div class="em-sub-title">Public</div>
                <div class="elements">
                    @foreach (var csomor in PublicList)
                    {
                        <CsomorListElementComponent Csomor="csomor" ShowIsPublished="false"></CsomorListElementComponent>
                    }
                </div>
            </div>
        }
    </div>
</div>