@page "/csomors"

<div class="csomor-list">
    <div class="action-bar">
        <MatTooltip Tooltip="New Csomor">
            <MatIconButton RefBack="@context" Icon="add" OnClick="@(() => Navigation.NavigateTo("/csomor"))"></MatIconButton>
        </MatTooltip>
    </div>
</div>