@page "/books"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator,Status Library User,Status Library Moderator,Status Library Administrator,Root")]

<div class="sl-books">
    <h1 class="em-page-title">Books</h1>

    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatTooltip Tooltip="Add Book">
                <MatIconButton RefBack="@context" Icon="add" @onclick="OpenAddBookDialog"></MatIconButton>
            </MatTooltip>
        </div>
        @if (BookList != null && BookList.Count > 0)
        {
            <div class="book-list">
                <ListTable Header="Header" Body="BookList" TList="ManagerAPI.Shared.DTOs.SL.BookListDto" OnRowClick="@(e => RedirectToData(e))"></ListTable>
            </div>
        }
        else
        {
            <div class="text-center">Book list is empty</div>
        }
    }
</div>