.sl-book-data {
  max-height: 100%; }
  .sl-book-data .action-bar {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgba(240, 174, 73, 0.4);
    display: flex;
    color: #5120a5; }
    .sl-book-data .action-bar .spacer {
      flex-grow: 1; }
  .sl-book-data .data {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgba(187, 187, 255, 0.4); }
    .sl-book-data .data .data-row strong {
      color: #5120a5; }
