@import "../../Styles/_common.scss";

.sl-movie-data {
    max-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .action-bar {
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: $primary-secondary-trans 3px solid;
        border-radius: $border-radius;
        padding: 0.5rem;
        background-color: $orange-trans;
        display: flex;
        color: $primary;

        .spacer {
            flex-grow: 1;
        }
    }

    .tab-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .mat-tab-group-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;
        }
    }

    .data {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: $primary-secondary-trans 3px solid;
        border-radius: $border-radius;
        padding: 0.5rem;
        background-color: $blue-light-trans;

        .data-rows {
            flex-grow: 1;

            .data-row {
                strong {
                    color: $primary;
                }
            }

            .rates {
                .rate-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .image {
            .picture {
                position: relative;
                width: 300px;
                height: 300px;
                margin: auto;
                overflow: hidden;
                border-radius: 50%;
                transition-duration: 0.5s;
                box-shadow: 0 0 0.5rem 0 $primary;

                &:hover {
                    transition-duration: 0.5s;
                    transform: scale(1.4, 1.4);
                    opacity: 0.3;
                }

                img {
                    width: auto;
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                }
            }
        }
    }

    .comments {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: $primary-secondary-trans 3px solid;
        border-radius: $border-radius;
        padding: 0.5rem;
        background-color: $blue-light-trans;
        overflow: hidden;

        .comment-list {
            flex-grow: 1;
            overflow: auto;

            .comment {
                margin-bottom: 1rem;
                margin-top: 1rem;
                border-bottom: $primary-secondary-trans 3px solid;
                border-radius: $border-radius;
                padding: 0.5rem;
                background-color: $white-trans;

                .comment-header {
                    color: $primary;
                }

                .comment-body {
                    padding: 0.8rem;
                }

                .comment-action {
                    display: flex;
                    margin-bottom: 1rem;
                    border-bottom: $primary-secondary-trans 3px solid;
                    border-radius: $border-radius;
                    padding: 0.5rem;
                    background-color: $red-light-trans;

                    .spacer {
                        flex-grow: 1;
                    }
                }
            }
        }

        .input-panel {
            flex-direction: column;

            .down-row {
                display: flex;
                flex-direction: row;

                .spacer {
                    flex-grow: 1;
                }
            }
        }
    }
}
