.sl-movies {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column; }
  .sl-movies .action-bar {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgba(240, 174, 73, 0.4);
    color: #5120a5; }
  .sl-movies .movie-list {
    flex-grow: 1;
    display: flex;
    max-height: 100%;
    overflow: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgba(187, 187, 255, 0.4); }
