@page "/my-series"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<div class="sl-my-series">
    <h1 class="em-page-title">My Series</h1>

    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        <div class="action-bar">
            <MatTooltip Tooltip="Edit My List">
                <MatIconButton RefBack="@context" Icon="edit" @onclick="OpenEditMySeriesDialog"></MatIconButton>
            </MatTooltip>
        </div>
        @if (SeriesList != null && SeriesList.Count > 0)
        {
            <div class="series-list">
                <ListTable Header="Header" Footer="Footer" Body="SeriesList" TList="ManagerAPI.Shared.DTOs.SL.MySeriesListDto" OnRowClick="@(e => RedirectToData(e))"></ListTable>
            </div>
        }
        else
        {
            <div class="text-center">Series list is empty</div>
        }
    }
</div>