@using ManagerAPI.Shared.DTOs
@using ManagerAPI.Shared.Helpers
@if (Notification != null)
{
    <div class="notification importance-@Notification.ImportanceLevel">
        <div class="content">
            <div class="text">
                @Notification.Content
            </div>
            <div class="status">
                @if (Notification.IsRead)
                {
                    <span>
                        Read
                    </span>
                }
                else
                {
                    <span>
                        Not Read
                    </span>
                }
            </div>
        </div>
        <div class="footer">
            <div class="source">
                @Notification.SystemName - @Notification.SystemShortName
            </div>
            <div class="date">
                @DateHelper.DateToString(Notification.SentDate)
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public NotificationDto Notification { get; set; }
}
