@import "../../../Styles/_common.scss";

.notification {
    @include panel;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: row;

        .text {
            flex-grow: 1;
            text-align: justify;
        }

        .status {
            text-align: right;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        font-style: italic;

        .source {
            flex-grow: 1;
            text-align: left;
        }

        .date {
            text-align: right;
        }
    }

    &.importance-1 {
        background-color: $important-1;
    }

    &.importance-2 {
        background-color: $important-2;
    }

    &.importance-3 {
        background-color: $important-3;
    }
}
