<div>
  <form [formGroup]="form" (submit)="registration()" autocomplete="off">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="userName" />
      <mat-error *ngIf="utilService.hasError(form, 'userName', 'required')">
        {{ utilService.isRequiredMessage() }}
      </mat-error>
      <mat-error *ngIf="utilService.hasError(form, 'userName', 'minlength')">
        {{ utilService.minLengthMessage(6) }}
      </mat-error>
      <mat-error *ngIf="utilService.hasError(form, 'userName', 'maxlength')">
        {{ utilService.maxLengthMessage(200) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="utilService.hasError(form, 'email', 'required')">
        {{ utilService.isRequiredMessage() }}
      </mat-error>
      <mat-error *ngIf="utilService.hasError(form, 'email', 'email')">
        {{ utilService.emailMessage() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="utilService.hasError(form, 'password', 'required')">
        {{ utilService.isRequiredMessage() }}
      </mat-error>
      <mat-error *ngIf="utilService.hasError(form, 'password', 'minlength')">
        {{ utilService.minLengthMessage(8) }}
      </mat-error>
      <mat-error *ngIf="utilService.hasError(form, 'password', 'maxlength')">
        {{ utilService.maxLengthMessage(200) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="passwordConfirm" />
      <mat-error
        *ngIf="utilService.hasError(form, 'passwordConfirm', 'required')"
      >
        {{ utilService.isRequiredMessage() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput type="text" formControlName="fullName" />
      <mat-error *ngIf="utilService.hasError(form, 'fullName', 'maxlength')">
        {{ utilService.maxLengthMessage(150) }}
      </mat-error>
    </mat-form-field>

    <div class="form-row">
      <div class="col-md-8 offset-md-2">
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
</div>
