<div class="em-navbar h-100">
    <div class="em-navbar-brand-outer">
        <div class="em-navbar-brand">
            Event Manager
        </div>
    </div>
    <MatNavMenu>
        <AuthorizeView>
            <Authorized>
                <MatNavItem Href="" class="important">Home</MatNavItem>
                <MatNavItem Href="/counter">Counter</MatNavItem>
                <MatNavItem Href="/my-profile">My Profile</MatNavItem>
                <MatNavSubMenu>
                    <MatNavSubMenuHeader>
                        <MatNavItem AllowSelection="false">Events</MatNavItem>
                    </MatNavSubMenuHeader>
                    <MatNavSubMenuList>
                        <MatNavItem Href="/events/home">Event Home</MatNavItem>
                        <MatNavItem Href="/events/my-events">My Events</MatNavItem>
                        <MatNavItem Href="/events/create">Create</MatNavItem>
                    </MatNavSubMenuList>
                </MatNavSubMenu>
            </Authorized>
            <NotAuthorized>
                <MatNavItem Href="" class="important">Home</MatNavItem>
            </NotAuthorized>
        </AuthorizeView>
    </MatNavMenu>
    <hr/>
    <MatNavMenu>
        <AuthorizeView>
            <Authorized>
                <MatNavItem Href="@GetPath("data")">Data</MatNavItem>
                <MatNavItem Href="@GetPath("notifications")">Notifications</MatNavItem>
            </Authorized>
        </AuthorizeView>
    </MatNavMenu>

    <AuthorizeView>
        <Authorized>
            <div class="vert-spacer"></div>
            <CurrentUser></CurrentUser>
        </Authorized>
    </AuthorizeView>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected string GetPath(string page)
    {
        return $"/events/{Id}/{page}";
    }

}