@page "/auth/registration"
@inherits RegistrationBase
@layout AuthLayout

<AuthPanel Title="@Title">
    @if (DisplayMessage)
    {
        <ErrorAlert Message="@Message" Type="@MessageType"></ErrorAlert>
    }
    <EditForm Model="Model" OnValidSubmit="SignUp">
        <DataAnnotationsValidator/>
        <div class="input-element">
            <label>User Name</label> <br/>
            <InputText @bind-Value="Model.UserName"></InputText>
        </div>
        <div class="input-element">
            <label>Password</label> <br/>
            <InputText type="password" @bind-Value="Model.Password"></InputText>
        </div>
        <div class="input-element">
            <label>Password Confirm</label> <br/>
            <InputText type="password" @bind-Value="Model.PasswordConfirm"></InputText>
        </div>
        <div class="input-element">
            <label>E-mail</label> <br/>
            <InputText type="email" @bind-Value="Model.Email"></InputText>
        </div>
        <div class="input-element">
            <label>Full Name</label> <br/>
            <InputText @bind-Value="Model.FullName"></InputText>
        </div>
        <div class="p-1">
            <button type="submit" class="em-button em-button-primary col col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">Sign Up</button>
        </div>
        <ValidationSummary/>
    </EditForm>
</AuthPanel>