<div class="w-100">
    <EditForm EditContext="@Context">
        <DataAnnotationsValidator />
        <div class="col col-12 p-1">
            <MatTextField class="w-100" @bind-Value="Model.Title" Label="Title" Dense="true" Outlined="true"></MatTextField>
            <ValidationMessage For="() => Model.Title" />
        </div>
        <div class="col col-12 p-1">
            <MatTextField class="w-100" @bind-Value="Model.Description" Label="Description" Dense="true" Outlined="true" TextArea="true"></MatTextField>
            <ValidationMessage For="() => Model.Description" />
        </div>
        <div class="col col-12 p-1">
            <MatDatePicker class="w-100" @bind-Value="Model.Deadline" Dense="true" Label="Deadline" Format="yyyy-MM-dd" Outlined="true" AllowInput="false"></MatDatePicker>
            <ValidationMessage For="() => Model.Deadline" />
        </div>
    </EditForm>
</div>