<input class="visitor" type="submit" name="" value="Visitor">
<div class="loginp">
    <mat-card class= "card">
        <div >
            <form class="box">
                <mat-card-title class="title">Login</mat-card-title>
                <input type="text" name="" placeholder="Username">
                <input type="password" name="" placeholder="Password">
                <input type="submit" name="" value="Login">
                <div class="zelda">
                    <a>Registration</a>
                    <a>Forgot Password</a>
                </div>
            </form>
        </div>
    </mat-card>
</div>