@import 'src/variables.scss';

.footer {
  border-radius: unset;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  height: 2.6rem;
  box-shadow: 0 0 5px 2px $black;
  color: $white;
  background-color: $pm-primary;

  .title {
    font-size: 1.7rem;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
