@import 'src/_variables';

.row {
  margin: 0;
  padding: 0;
  .table-col {
    padding: 0.5rem;
    table {
      width: 100%;
      .selected {
        background-color: $primary-lighter;
      }
    }
  }
}
