@import 'src/_variables.scss';

table {
  width: 100%;
  tr.detail-row {
    height: 0;
  }
  tr.element-row:not(.expanded-row):hover {
    background: $primary-lighter;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }
  .detail {
    overflow: hidden;
    display: flex;
    .detail-content {
      width: 100%;
      padding: 0.2rem;
      display: flex;

      .spacer {
        flex-grow: 1;
      }
    }
  }
  .seen {
    background-color: $green-light;
  }

  .not-seen {
    background-color: $red-light;
  }
}
