<div class="sl-movie-seen-selector-dialog">
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (List != null && List.Count > 0)
        {
            <div class="movie-list">
                <ListTable Header="Header" Body="List" TList="ManagerAPI.Shared.DTOs.MC.MyMovieSelectorListDto" IsSelectionEnabled="true" SelectedIndexes="SelectedIndexList" FooterDisplay="false" OnRowClick="@(e => SwitchSeenFlag(e))"></ListTable>
            </div>
        }
    }
</div>