<div class="sl-movie-selector-dialog">
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (List != null && List.Count > 0)
        {
            <div class="movie-list">
                <ListTable Header="Header" Footer="Footer" Body="List" TList="ManagerAPI.Shared.DTOs.MC.MyMovieSelectorListDto" OnRowClick="@(e => SwitchMineFlag(e))"></ListTable>
            </div>
        }
    }
</div>