<div class="sl-series-selector-dialog">
    @if (IsLoading)
    {
        <Loader></Loader>
    }
    else
    {
        @if (List != null && List.Count > 0)
        {
            <div class="series-list">
                <ListTable Header="Header" Body="List" TList="ManagerAPI.Shared.DTOs.MC.MySeriesSelectorListDto" IsSelectionEnabled="true" SelectedIndexes="SelectedIndexList" FooterDisplay="false" OnRowClick="@(e => SwitchMineFlag(e))"></ListTable>
            </div>
        }
    }
</div>