<div class="form">
  <form [formGroup]="form" (submit)="save()" autocomplete="off">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput type="text" formControlName="fullName" />
      <mat-error *ngIf="utilService.hasError(form, 'fullName', 'maxlength')">
        {{ utilService.maxLengthMessage(150) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Allergy</mat-label>
      <textarea matInput type="text" formControlName="allergy"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Class</mat-label>
      <input matInput type="text" formControlName="class" />
      <mat-error *ngIf="utilService.hasError(form, 'class', 'maxlength')">
        {{ utilService.maxLengthMessage(5) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TShirt Size</mat-label>
      <input matInput type="text" formControlName="tShirtSize" />
      <mat-error *ngIf="utilService.hasError(form, 'tShirtSize', 'maxlength')">
        {{ utilService.maxLengthMessage(5) }}
      </mat-error>
    </mat-form-field>
    <div class="buttons">
      <span class="spacer"></span>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="primary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
