.element {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  color: #5120a5;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.55);
  margin: 2rem;
  transition-duration: 0.5s; }
  .element .spacer {
    flex-grow: 1; }
  .element:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: rgba(255, 187, 187, 0.4); }
