<div class="csomor-container">
    @if (Settings != null)
    {
        <FullCsomorComponent Settings="Settings" FilterList="FilterList" FilterListChanged="Changed" TableType="TableType" TableTypeChanged="Changed"></FullCsomorComponent>
    }
</div>