@import "../../../Styles/_common.scss";

.csomor {
    flex-grow: 1;
    overflow: auto;

    .table-row {
        display: flex;
        flex-direction: row;

        .element {
            min-width: 250px;
            max-width: 250px;
            padding: 0.5rem;
            text-align: center;
            background-color: $blue-light-trans;
            margin: 0.4rem;
            border-radius: $border-radius;
            transition-duration: 0.5s;

            &.header {
                background-color: $white-trans;
            }

            &.interval {
                min-width: 100px;
                max-width: 100px;
                background-color: $yellow-light;
            }

            &.interval.header {
                background-color: $red-light-trans;
            }

            &.hovered {
                background-color: $primary-lighter-trans;
                color: $white;
                transition-duration: 0.5s;
            }
        }
    }
}
