.csomor {
  flex-grow: 1;
  overflow: auto; }
  .csomor .table-row {
    display: flex;
    flex-direction: row; }
    .csomor .table-row .element {
      width: 700px;
      padding: 0.5rem;
      text-align: center;
      background-color: rgba(187, 187, 255, 0.4);
      margin: 0.4rem;
      border-radius: 4px;
      transition-duration: 0.5s; }
      .csomor .table-row .element.header {
        background-color: rgba(249, 249, 249, 0.55); }
      .csomor .table-row .element.interval {
        width: 100px;
        background-color: #fff7ac; }
      .csomor .table-row .element.interval.header {
        background-color: rgba(255, 187, 187, 0.4); }
      .csomor .table-row .element.hovered {
        background-color: rgba(126, 71, 215, 0.8);
        color: #f9f9f9;
        transition-duration: 0.5s; }
