@page "/"

<div class="main-page">
    <h1>Hello There!</h1>

    <div class="text-center">
        <img src="/images/hello-there.gif" alt="hello-there"/>
    </div>
    <div class="text-center">
        <img src="/images/hello-there.gif" alt="hello-there"/>
    </div>
    <div class="text-center">
        <img src="/images/hello-there.gif" alt="hello-there"/>
    </div>
</div>