@import "../Styles/_common.scss";

.main-page {
    div {
        img {
            box-shadow: 0 0 0.5rem 0 $primary;
            border-radius: $border-radius;
            height: 400px;
            width: auto;
        }
    }
}

