@page "/"

<div class="main-page">
    <h1 class="em-page-title">Home</h1>
    <h3>Hello There!</h3>

    <div class="em-image-block text-center">
        <img src="/images/hello-there.gif" alt="hello-there"/>
    </div>
</div>