@inherits ChangePasswordBase

<div class="w-100">
    <EditForm EditContext="Context">
        <DataAnnotationsValidator />
        <div class="col col-12 p-1">
            <MatTextField class="w-100" type="password" @bind-Value="PasswordUpdate.OldPassword" Label="Old Password" Dense="true" Outlined="true"></MatTextField>
            <ValidationMessage For="() => PasswordUpdate.OldPassword" />
        </div>
        <div class="col col-12 p-1">
            <MatTextField class="w-100" type="password" @bind-Value="PasswordUpdate.NewPassword" Label="New Password" Dense="true" Outlined="true"></MatTextField>
            <ValidationMessage For="() => PasswordUpdate.NewPassword" />
        </div>
        <div class="col col-12 p-1">
            <MatTextField class="w-100" type="password" @bind-Value="PasswordUpdate.ConfirmNewPassword" Label="Confirm New Password" Dense="true" Outlined="true"></MatTextField>
            <ValidationMessage For="() => PasswordUpdate.ConfirmNewPassword" />
        </div>

    </EditForm>
</div>