@inherits FriendRequestBase

<MatDialog @bind-IsOpen="@DialogIsOpen">
    <EditForm Model="Model" OnValidSubmit="Save">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Friend request</MatDialogTitle>
        <MatDialogContent>
            <div class="col col-12 p-1">
                <MatTextField class="w-100" @bind-Value="Model.DestinationUserName" Label="User Name" Dense="true" Outlined="true"></MatTextField>
                <ValidationMessage For="() => Model.DestinationUserName"/>
            </div>
            <div class="col col-12 p-1">
                <MatTextField class="w-100" @bind-Value="Model.Message" Label="Message" Dense="true" Outlined="true"></MatTextField>
                <ValidationMessage For="() => Model.Message"/>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton type="submit">Save</MatButton>
            <MatButton @onclick="Cancel">Cancel</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>