<div>
  <form [formGroup]="form" (submit)="login()" autocomplete="off">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="userName" />
      <mat-error *ngIf="utilService.hasError(form, 'userName', 'required')">
        {{ utilService.isRequiredMessage() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="utilService.hasError(form, 'password', 'required')">
        {{ utilService.isRequiredMessage() }}
      </mat-error>
    </mat-form-field>

    <div class="form-row">
      <div class="col-md-8 offset-md-2">
        <button mat-raised-button color="primary" type="submit">Sign In</button>
      </div>
    </div>
  </form>
</div>
