<mat-toolbar class="nav" color="primary">
  <button
    mat-icon-button
    (click)="changeSidenavStatus()"
    *ngIf="countOfSideMenuItems > 0"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" [routerLink]="['/']">KarcagS</span>
  <div *ngIf="!isMobileView">
    <button
      mat-button
      [routerLink]="['/profile']"
      routerLinkActive="activeMenu"
    >
      Profile
    </button>
    <button mat-button [routerLink]="['/todos']">ToDos</button>
    <button mat-button [routerLink]="['/working-manager']">
      Working Manager
    </button>
    <button mat-button [routerLink]="['/movies']">
      Movies
    </button>
    <button mat-button [routerLink]="['/series']">
      Series
    </button>
  </div>
  <div *ngIf="isMobileView">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [mat-menu-trigger-for]="profile">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #profile="matMenu">
    <div mat-menu-item *ngIf="user">
      <strong>Username: </strong> {{ user.userName }}
    </div>
    <div mat-menu-item *ngIf="user">
      <strong>E-mail: </strong> {{ user.email }}
    </div>
    <div mat-menu-item *ngIf="user">
      <strong>Last Login: </strong>
      {{ user.lastLogin | date: 'yyyy. MM. dd. HH:mm:ss' }}
    </div>
    <button mat-menu-item color="warn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Log Out
    </button>
  </mat-menu>
</mat-toolbar>
