<div class="todos">
  <div>
    <button mat-icon-button (click)="createTodo()" color="primary">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <div *ngIf="todoDateDTOs && todoDateDTOs.length > 0">
    <div *ngFor="let block of todoDateDTOs; let i = index" class="todo-block">
      <mat-divider></mat-divider>
      <h3 class="title">{{ block.dueDate | date: 'yyyy. MM. dd.' }}</h3>
      <div *ngFor="let todo of block.toDoList" class="todo">
        <mat-card class="todo-card">
          <span class="todo-title">
            {{ todo.title }}
          </span>
          <span class="spacer"></span>
          <button mat-icon-button color="accent" (click)="updateTodo(todo)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="todo-action">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
