<mat-toolbar color="primary">
  <span>{{ title }} ToDo</span>
  <span class="close">
    <button mat-icon-button>
      <mat-icon (click)="exitWithoutAction()">close</mat-icon>
    </button>
  </span>
</mat-toolbar>
<div class="modal-container">
  <form [formGroup]="form" (submit)="save()">
    <mat-dialog-content>
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" />
          <mat-error *ngIf="utilService.hasError(form, 'title', 'required')">
            {{ utilService.isRequiredMessage() }}
          </mat-error>
          <mat-error *ngIf="utilService.hasError(form, 'title', 'maxlength')">
            {{ utilService.maxLengthMessage(100) }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Due date</mat-label>
          <input matInput type="date" formControlName="dueDate" />
          <mat-error *ngIf="utilService.hasError(form, 'dueDate', 'required')">
            {{ utilService.isRequiredMessage() }}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="exitWithoutAction()"
      >
        Close
      </button>
    </mat-dialog-actions>
  </form>
</div>
