@inherits LayoutComponentBase

<BlazoredModal />

<div class="em-body">
    <div class="em-navbar-box">
        <div class="em-navbar-outer">
            <EventBodyNavigator Id="Id" />
        </div>
    </div>
    <div class="main main-box">
        <MatCard class="p-3 main-content">
            @Body
        </MatCard>
    </div>
</div>

@code {
    protected int Id { get; set; }

    protected override void OnParametersSet()
    {
        object id = null;
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("Id", out id) == true)
        {
            this.Id = (int)id;
            Console.WriteLine(this.Id);
        }
    }
}