@inherits LayoutComponentBase

<div class="sidebar">
    <EventBodyNavigator Id="@Id"/>
</div>

<div class="main">
    <div class="top-row px-4 auth em-top-row">
        <LoginDisplay/>
    </div>

    <div class="content px-1">
        <MatCard class="p-3">
            @Body
        </MatCard>
    </div>
</div>

@code {

    protected int Id { get; set; }

    protected override void OnParametersSet()
    {
        object id = null;
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("Id", out id) == true)
        {
            this.Id = (int) id;
            Console.WriteLine(this.Id);
        }
    }

}