@inherits LayoutComponentBase

<div class="row col col-12">
    <div class=" col col-2 em-navbar-outer">
        <NavMenu/>
    </div>
    <div class="col col-10 main main-box">
        <MatCard class="p-3 main-content">
            @Body
        </MatCard>
    </div>
</div>