@inherits LayoutComponentBase

<BlazoredModal />

<div class="em-body">
    <div class="em-navbar-box">
        <div class="em-navbar-outer">
            <MainNavigator />
        </div>
    </div>
    <div class="main main-box">
        <MatCard Class="p-3 main-content">
            @Body
        </MatCard>
    </div>
</div>