@typeparam TList

@if (Header != null && IndexList != null)
{
    <div class="list">
        <table>
            <thead>
            <tr>
                @foreach (var head in Header)
                {
                    <th>@head.DisplayName</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var body in Body)
            {
                <tr>
                    @foreach (var head in Header)
                    {
                        <td>@GetProperty(body, head.PropertyName)</td>
                    }
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                @foreach (var foot in Footer)
                {
                    <th>@foot</th>
                }
            </tr>
            </tfoot>
        </table>
    </div>
}