@import url("../css/open-iconic/font/css/open-iconic-bootstrap.min.css");
/* General body settings */
html, body {
  font-family: "Bree Serif", serif;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(60deg, #ffb2b6 0%, #e2c2ff 50%, #ad99ff 100%) fixed;
  display: flex;
}

app {
  width: 100%;
}

* {
  font-family: "Bree Serif", serif !important;
}

.material-icon {
  font-family: "Material Icons", serif !important;
}

.material-icons {
  font-family: "Material Icons", serif !important;
}

.oi {
  font-family: Icons, serif !important;
}

/* General styles */
.row, .col {
  padding: 0;
}

.row {
  margin: 0;
}

.em-sub-title {
  color: #5120a5;
}

.em-sub-panel {
  padding: 0.6rem;
}

.em-panel .panel-title {
  color: #5120a5;
}
.em-panel .panel-content {
  padding: 1rem;
}

.em-primary {
  background-color: #5120a5 !important;
  color: #f9f9f9 !important;
}

.em-accent-color {
  color: #c17700;
}

.em-warn-color {
  color: #cc0000;
}

.em-alert {
  margin: 1.4rem 0.8rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.em-alert-error {
  background-color: #ffbbbb;
  border: 2px solid #ef5350;
}
.em-alert-success {
  background-color: #cbffbb;
  border: 2px solid #1d9932;
}
.em-alert-warning {
  background-color: #f0ae49;
  border: 2px solid #b16b02;
}

.em-main-title {
  font-size: 1.2rem;
}

.em-page-title {
  font-size: 2rem;
  color: #5120a5;
}

.em-section-title {
  font-size: 1.2rem;
  color: #5120a5;
  font-weight: bold;
  text-align: center;
}

.em-top-row {
  background-color: #5120a5 !important;
  color: #f9f9f9 !important;
  border-bottom-color: #5120a5 !important;
}

.flex-parent {
  display: flex;
  flex-grow: 1;
}

/* Main page */
.main-page div img {
  box-shadow: 0 0 0.5rem 0 #5120a5;
  border-radius: 4px;
  height: 400px;
  width: auto;
}

.main-box {
  flex-grow: 1;
  max-height: 100vh;
  padding: 1rem;
}
.main-box .main-content {
  overflow: auto;
  height: 100%;
  background-color: rgba(249, 249, 249, 0.55);
}

/* Working Manager */
.wm .title-bar {
  display: flex;
}
.wm .title-bar .spacer {
  flex-grow: 1;
}
.wm .title-bar .date {
  color: #5120a5;
  font-style: italic;
}
.wm .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.wm .action-bar .spacer {
  flex-grow: 1;
}
.wm .working-day-settings {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.wm .stats {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(203, 255, 187, 0.4);
}
.wm .stats .hour-sum strong {
  color: #5120a5;
}
.wm .stats .state * {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
}
.wm .stats .state .is-lot {
  color: #0027bc;
}
.wm .stats .state .optimal {
  color: #1d9932;
}
.wm .stats .state .enough {
  color: #f0ae49;
}
.wm .stats .state .not-enough {
  color: #ef5350;
}
.wm .field-list {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}

/* WM Field */
.wm-field {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.wm-field .title-row {
  display: flex;
  color: #5120a5;
}
.wm-field .title-row .title {
  font-style: italic;
}
.wm-field .title-row .spacer {
  flex-grow: 1;
}
.wm-field .title-row .hours {
  font-weight: bold;
}

/* WM Month stat */
.wm-month .title-bar {
  display: flex;
}
.wm-month .title-bar .spacer {
  flex-grow: 1;
}
.wm-month .title-bar .date {
  color: #5120a5;
  font-style: italic;
}
.wm-month .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.wm-month .action-bar .spacer {
  flex-grow: 1;
}
.wm-month .field-list {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}
.wm-month .stat-box {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(203, 255, 187, 0.4);
}
.wm-month .stat-box .data-row strong {
  color: #5120a5;
  font-style: italic;
}
.wm-month .type-stat {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(203, 255, 187, 0.4);
}
.wm-month .type-stat .data-row strong {
  color: #5120a5;
  font-style: italic;
}

/* WM Week stat */
.wm-week .title-bar {
  display: flex;
}
.wm-week .title-bar .spacer {
  flex-grow: 1;
}
.wm-week .title-bar .date {
  color: #5120a5;
  font-style: italic;
}
.wm-week .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.wm-week .action-bar .spacer {
  flex-grow: 1;
}
.wm-week .field-list {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}
.wm-week .stat-box {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(203, 255, 187, 0.4);
}
.wm-week .stat-box .data-row strong {
  color: #5120a5;
  font-style: italic;
}
.wm-week .type-stat {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(203, 255, 187, 0.4);
}
.wm-week .type-stat .data-row strong {
  color: #5120a5;
  font-style: italic;
}

/* My tasks page */
.em-my-tasks .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.em-my-tasks .action-bar .spacer {
  flex-grow: 1;
}
.em-my-tasks .date-groups {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
}
.em-my-tasks .date-groups.standard {
  background-color: rgba(187, 187, 255, 0.4);
}
.em-my-tasks .date-groups.out-of-range {
  background-color: rgba(255, 187, 187, 0.4);
}
.em-my-tasks .date-groups.all-solved {
  background-color: rgba(163, 163, 163, 0.4);
}
.em-my-tasks .date-groups .date {
  color: #5120a5;
  font-weight: bold;
}
.em-my-tasks .date-groups .task {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}
.em-my-tasks .date-groups .task.solved {
  background-color: rgba(203, 255, 187, 0.4);
}
.em-my-tasks .date-groups .task .title {
  display: flex;
}
.em-my-tasks .date-groups .task .title .text {
  color: #5120a5;
  font-style: italic;
}
.em-my-tasks .date-groups .task .title .spacer {
  flex-grow: 1;
}
.em-my-tasks .date-groups .task .description {
  display: flex;
  flex-direction: row;
}
.em-my-tasks .date-groups .task .description .description-text {
  display: table-cell;
  flex-grow: 1;
  padding: 0.4rem;
}
.em-my-tasks .date-groups .task .description .description-button {
  display: table-cell;
  vertical-align: bottom;
}
.em-my-tasks .date-groups .task .description .description-button .wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.em-my-tasks .date-groups .task .description .description-button .wrapper .spacer {
  flex-grow: 1;
}

/* My profile page */
.em-my-profile .my-profile-picture {
  position: relative;
  margin: 5rem auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: 0 0 0.5rem 0 #5120a5;
}
.em-my-profile .my-profile-picture:hover {
  transition-duration: 0.5s;
  transform: scale(1.4, 1.4);
}
.em-my-profile .my-profile-picture img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.em-my-profile .danger-zone {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(255, 187, 187, 0.4);
}
.em-my-profile .danger-zone .em-sub-title {
  color: #ef5350;
}
.em-my-profile .danger-zone .danger * {
  color: #ef5350 !important;
}
.em-my-profile .settings {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.em-my-profile .info {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* My notification page */
.em-my-notifications .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.em-my-notifications .action-bar .spacer {
  flex-grow: 1;
}
.em-my-notifications .em-notification {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
}
.em-my-notifications .em-notification .em-notification-footer {
  font-size: 0.8rem;
  color: #5120a5;
  font-style: italic;
  display: flex;
}
.em-my-notifications .em-notification .em-notification-footer .spacer {
  flex-grow: 1;
}
.em-my-notifications .em-notification .em-notification-content {
  text-align: justify;
}
.em-my-notifications .em-notification .em-notification-right {
  text-align: right;
}
.em-my-notifications .em-notification.importance-1 {
  background-color: rgba(235, 223, 109, 0.75);
}
.em-my-notifications .em-notification.importance-2 {
  background-color: rgba(235, 159, 109, 0.75);
}
.em-my-notifications .em-notification.importance-3 {
  background-color: rgba(235, 109, 109, 0.75);
}

/* My friends page */
.em-my-friends .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.em-my-friends .friend-list .friend-card {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.em-my-friends .friend-list .friend-card .title {
  color: #5120a5;
  font-weight: bold;
}
.em-my-friends .friend-list .friend-card .picture {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: 0 0 0.5rem 0 #5120a5;
}
.em-my-friends .friend-list .friend-card .picture:hover {
  transition-duration: 0.5s;
  transform: scale(1.4, 1.4);
  opacity: 0.3;
}
.em-my-friends .friend-list .friend-card .picture img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.em-my-friends .friend-list .friend-card .card-action-bar {
  text-align: right;
}
.em-my-friends .friend-request-list .friend-request {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.em-my-friends .friend-request-list .friend-request .title {
  color: #5120a5;
  font-weight: bold;
}
.em-my-friends .friend-request-list .friend-request .content {
  margin: 0.8rem;
  background-color: #f0ae49;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: justify;
  border-left: #9575c6 3px solid;
}
.em-my-friends .friend-request-list .friend-request .request-action-bar {
  text-align: right;
}

/* SL Books page */
.sl-books {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-books .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-books .book-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Books data page */
.sl-book-data {
  max-height: 100%;
}
.sl-book-data .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.sl-book-data .action-bar .spacer {
  flex-grow: 1;
}
.sl-book-data .data {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.sl-book-data .data .data-row strong {
  color: #5120a5;
}

/* SL My Books page */
.sl-my-books {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-my-books .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-my-books .book-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Series page */
.sl-series {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-series .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-series .series-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Series data page */
.sl-series-data {
  max-height: 100%;
}
.sl-series-data .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.sl-series-data .action-bar .spacer {
  flex-grow: 1;
}
.sl-series-data .data {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.sl-series-data .data .data-row strong {
  color: #5120a5;
}
.sl-series-data .seasons {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.sl-series-data .seasons .season {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}
.sl-series-data .seasons .season .head {
  color: #5120a5;
  font-weight: bold;
  display: flex;
}
.sl-series-data .seasons .season .head .spacer {
  flex-grow: 1;
}
.sl-series-data .seasons .season .body .episodes .episode {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(249, 249, 249, 0.55);
}
.sl-series-data .seasons .season .body .episodes .episode .ep-head {
  color: #5120a5;
  font-style: italic;
  display: flex;
}
.sl-series-data .seasons .season .body .episodes .episode .ep-head .spacer {
  flex-grow: 1;
}
.sl-series-data .seasons .season .body .episodes .episode .ep-body {
  padding: 0.4rem;
}
.sl-series-data .seasons .season .body .episodes .episode .ep-foot {
  display: flex;
}
.sl-series-data .seasons .season .body .episodes .episode .ep-foot .spacer {
  flex-grow: 1;
}
.sl-series-data .seasons .season .body .episodes .episode-action {
  display: flex;
}
.sl-series-data .seasons .season .body .episodes .episode-action .spacer {
  flex-grow: 1;
}
.sl-series-data .seasons .season-action {
  display: flex;
}
.sl-series-data .seasons .season-action .spacer {
  flex-grow: 1;
}

/* SL My Series page */
.sl-my-series {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-my-series .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-my-series .series-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Episode data page */
.sl-episode-data {
  max-height: 100%;
}
.sl-episode-data .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.sl-episode-data .action-bar .spacer {
  flex-grow: 1;
}
.sl-episode-data .data {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.sl-episode-data .data .data-row strong {
  color: #5120a5;
}

/* SL Movies page */
.sl-movies {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-movies .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-movies .movie-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Movies data page */
.sl-movie-data {
  max-height: 100%;
}
.sl-movie-data .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
  display: flex;
}
.sl-movie-data .action-bar .spacer {
  flex-grow: 1;
}
.sl-movie-data .data {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}
.sl-movie-data .data .data-rows {
  flex-grow: 1;
}
.sl-movie-data .data .data-rows .data-row strong {
  color: #5120a5;
}
.sl-movie-data .data .image .picture {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: 0 0 0.5rem 0 #5120a5;
}
.sl-movie-data .data .image .picture:hover {
  transition-duration: 0.5s;
  transform: scale(1.4, 1.4);
  opacity: 0.3;
}
.sl-movie-data .data .image .picture img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

/* SL My Movies page */
.sl-my-movies {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
.sl-my-movies .action-bar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(240, 174, 73, 0.4);
}
.sl-my-movies .movie-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Book selector dialog */
.sl-book-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-book-selector-dialog .book-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Book read selector dialog */
.sl-book-read-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-book-read-selector-dialog .book-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Series selector dialog */
.sl-series-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-series-selector-dialog .series-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

.dialog-content {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

/* SL Movie selector dialog */
.sl-movie-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-movie-selector-dialog .movie-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Movie selector dialog */
.sl-movie-category-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-movie-category-selector-dialog .category-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* SL Movie seen selector dialog */
.sl-movie-seen-selector-dialog {
  display: flex;
  flex-grow: 1;
}
.sl-movie-seen-selector-dialog .movie-list {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: rgba(80, 0, 255, 0.3) 3px solid;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: rgba(187, 187, 255, 0.4);
}

/* Image block */
.em-image-block img {
  transition-duration: 0.5s;
}
.em-image-block img:hover {
  transition-duration: 0.5s;
  transform: scale(1.1, 1.1);
}

/* List Table */
.list-table {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}
.list-table .column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.list-table .column .head {
  display: flex;
  flex-direction: row;
}
.list-table .column .head .head-data {
  flex-grow: 1;
  color: #5120a5;
  background-color: rgba(249, 249, 249, 0.55);
  padding: 0.4rem;
  min-height: 37px;
}
.list-table .column .head .head-data.right {
  text-align: right;
}
.list-table .column .head .head-data.center {
  text-align: center;
}
.list-table .column .head .head-data.left {
  text-align: left;
}
.list-table .column .body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.list-table .column .body .body-row .body-data {
  color: #5120a5;
  padding: 0.4rem;
  min-height: 37px;
}
.list-table .column .body .body-row:nth-child(even) {
  background-color: rgba(92, 0, 255, 0.1);
}
.list-table .column .body .body-row.hovered {
  background-color: rgba(80, 0, 255, 0.3) !important;
  color: #5120a5;
  transition-duration: 0.5s;
  cursor: pointer;
}
.list-table .column .foot {
  display: flex;
  flex-direction: row;
}
.list-table .column .foot .foot-data {
  flex-grow: 1;
  color: #5120a5;
  background-color: rgba(249, 249, 249, 0.55);
  padding: 0.4rem;
  min-height: 37px;
}
.list-table .column .foot .foot-data.right {
  text-align: right;
}
.list-table .column .foot .foot-data.center {
  text-align: center;
}
.list-table .column .foot .foot-data.left {
  text-align: left;
}

/* List */
.list {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}
.list table {
  flex-grow: 1;
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
}
.list table thead tr th {
  position: sticky;
  top: 0;
  color: #5120a5;
  background-color: #f9f9f9;
  opacity: 90%;
  padding: 0.4rem;
}
.list table thead tr th.right {
  text-align: right;
}
.list table thead tr th.center {
  text-align: center;
}
.list table thead tr th.left {
  text-align: left;
}
.list table thead tr th:first-child {
  border-left: 5px solid rgba(249, 249, 249, 0.55);
}
.list table thead tr th:last-child {
  border-right: 5px solid rgba(249, 249, 249, 0.55);
}
.list table tfoot tr th {
  position: sticky;
  bottom: 0;
  color: #5120a5;
  background-color: #f9f9f9;
  opacity: 90%;
  padding: 0.4rem;
}
.list table tfoot tr th:first-child {
  border-left: 5px solid rgba(249, 249, 249, 0.55);
}
.list table tfoot tr th:last-child {
  border-right: 5px solid rgba(249, 249, 249, 0.55);
}
.list table tbody tr {
  transition-duration: 0.5s;
}
.list table tbody tr td {
  padding: 0.4rem;
}
.list table tbody tr td:first-child {
  border-left: 5px solid rgba(249, 249, 249, 0.55);
}
.list table tbody tr td:last-child {
  border-right: 5px solid rgba(249, 249, 249, 0.55);
}
.list table tbody tr:nth-child(even) {
  background-color: rgba(92, 0, 255, 0.1);
}
.list table tbody tr:hover {
  background-color: rgba(80, 0, 255, 0.3) !important;
  color: #5120a5;
  transition-duration: 0.5s;
  cursor: pointer;
}
.list table tbody tr.selected {
  background-color: #5120a5;
  color: #f9f9f9;
}

/* Table settings */
.em-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}
.em-table thead tr th {
  color: #f9f9f9;
  padding: 0.4rem;
  background-color: rgba(81, 32, 165, 0.8);
}
.em-table tbody tr {
  transition-duration: 0.5s;
  border-bottom: 1px solid #a3a3a3;
}
.em-table tbody tr td {
  padding: 0.4rem;
}
.em-table tbody tr:hover {
  background-color: rgba(92, 0, 255, 0.1) !important;
  color: #5120a5;
  transition-duration: 0.5s;
  cursor: pointer;
}
.em-table tbody tr:last-child {
  border-bottom: none;
}
.em-table tbody tr:nth-child(even) {
  background-color: rgba(80, 0, 255, 0.3);
}
.em-table tbody .selected {
  background-color: rgba(92, 0, 255, 0.1);
  color: #ef5350;
}
.em-table tfoot tr th {
  color: #f9f9f9;
  padding: 0.4rem;
  background-color: rgba(81, 32, 165, 0.8);
}

/* MatBlazor settings */
.mat-checkbox label {
  margin-bottom: 0;
}

.mdc-nav-item {
  margin: 0 0.4rem !important;
  border-radius: 4px;
}
.mdc-nav-item:hover {
  background-color: rgba(92, 0, 255, 0.1) !important;
  color: #5120a5 !important;
}
.mdc-nav-item.important {
  background-color: #ffbbbb;
}

.mdc-floating-label.mat-floating-label--float-above-outlined.mdc-floating-label--float-above {
  background-color: transparent !important;
}

.mdc-floating-label.mdc-floating-label--float-above {
  transform: translateY(-190%) scale(0.75) !important;
}

.mdc-sub-menu-icon {
  top: 15% !important;
}

.mdc-select__anchor {
  width: 100% !important;
}

.mdc-text-field__input.invalid {
  border-bottom-color: #ef5350 !important;
}

.mdc-text-field__input.valid.modified {
  border-bottom-color: #1d9932 !important;
}

.mdc-button {
  text-transform: none !important;
  font-size: 1.05rem !important;
  line-height: 2.25rem !important;
}

.mdc-notched-outline__notch {
  text-align: center !important;
}

.mdc-dialog .mdc-dialog__surface {
  min-width: 50vw !important;
  max-width: 90vw !important;
}
.mdc-dialog .mdc-dialog__title {
  color: #5120a5 !important;
}

/* Input settings */
.input-element {
  margin-bottom: 1rem;
}
.input-element * {
  width: 100%;
}

/* Current user panel */
.em-current-user .data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Navbar */
.em-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.em-navbar-box {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.55);
}
.em-navbar-box .em-navbar-outer {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.em-navbar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.em-navbar .em-navbar-brand-outer {
  padding: 0.5rem;
}
.em-navbar .em-navbar-brand-outer .em-navbar-brand {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #5120a5;
  color: #f9f9f9;
  font-size: 1.6rem;
  text-align: center;
  transition-duration: 0.5s;
}
.em-navbar .em-navbar-brand-outer .em-navbar-brand:hover {
  cursor: pointer;
  background-color: rgba(92, 0, 255, 0.1);
  color: #5120a5;
  transition-duration: 0.5s;
}
.em-navbar .em-navbar-menu {
  flex-grow: 1;
  overflow: auto;
}

/* Friend data */
.friend-data .data-row {
  padding: 0.4rem;
}
.friend-data .data-row strong {
  color: #5120a5;
}

/* App */
app {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Validation */
.validation-errors {
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.validation-message {
  color: #ef5350;
}

/* Error ui */
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/* Modal */
.blazored-modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.blazored-modal-container.blazored-modal-active {
  display: flex;
}
.blazored-modal-container .blazored-modal {
  display: flex;
  background-color: #f9f9f9;
  width: 80vw;
  height: 80vh;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(126, 71, 215, 0.8);
}
.blazored-modal-container .blazored-modal .blazored-modal-header {
  display: flex;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 2px solid #5120a5;
  align-items: center;
  background-color: rgba(187, 187, 255, 0.4);
}
.blazored-modal-container .blazored-modal .blazored-modal-header .blazored-modal-title {
  color: #5120a5;
  margin: 0;
}
.blazored-modal-container .blazored-modal .blazored-modal-header .spacer {
  flex-grow: 1;
}
.blazored-modal-container .blazored-modal .blazored-modal-header .blazored-modal-close {
  color: #ef5350;
}
.blazored-modal-container .blazored-modal .blazored-modal-content {
  padding: 1rem;
  flex-grow: 1;
}
.blazored-modal-container .blazored-modal .blazored-modal-footer {
  display: flex;
  padding: 1rem;
}
.blazored-modal-container .blazored-modal .blazored-modal-footer .spacer {
  flex-grow: 1;
}

.blazored-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #b99ee7;
}

::-webkit-scrollbar-thumb {
  background: #9575c6;
}

::-webkit-scrollbar-thumb:hover {
  background: #5120a5;
}

/*# sourceMappingURL=site.css.map */
