@import url('../css/open-iconic/font/css/open-iconic-bootstrap.min.css');
@import "variables.scss";

/* General body settings */

html, body {
  font-family: 'Bree Serif', serif;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(60deg, rgba(255, 178, 182, 1) 0%, rgba(226, 194, 255, 1) 50%, rgba(173, 153, 255, 1) 100%) fixed;
  display: flex;
}

app {
  width: 100%;
}

* {
  font-family: 'Bree Serif', serif !important;
}

.material-icon {
  font-family: 'Material Icons', serif !important;
}

.material-icons {
  font-family: 'Material Icons', serif !important;
}

.oi {
  font-family: Icons, serif !important;
}

/* General styles */

.row, .col {
  padding: 0;
}

.row {
  margin: 0;
}

.em-sub-title {
  color: $primary;
}

.em-sub-panel {
  padding: 0.6rem;
}

.em-panel {
  .panel-title {
    color: $primary;
  }

  .panel-content {
    padding: 1rem;
  }
}

.em-primary {
  background-color: $primary !important;
  color: $white !important;
}

.em-accent-color {
  color: $accent;
}

.em-warn-color {
  color: $warn;
}

.em-alert {
  margin: 1.4rem 0.8rem;
  padding: 0.5rem;
  border-radius: 4px;

  &-error {
    background-color: $red-light;
    border: 2px solid $red;
  }

  &-success {
    background-color: $green-light;
    border: 2px solid $green;
  }

  &-warning {
    background-color: $orange;
    border: 2px solid $orange-dark;
  }
}

.em-main-title {
  font-size: 1.2rem;
}

.em-page-title {
  font-size: 2rem;
  color: $primary;
}

.em-section-title {
  font-size: 1.2rem;
  color: $primary;
  font-weight: bold;
  text-align: center;
}

.em-top-row {
  background-color: $primary !important;
  color: $white !important;
  border-bottom-color: $primary !important;
}

.flex-parent {
  display: flex;
  flex-grow: 1;
}

.dialog-content {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

/* Image block */
.em-image-block {
  img {
    transition-duration: 0.5s;

    &:hover {
      transition-duration: 0.5s;
      transform: scale(1.1, 1.1);
    }
  }
}

/* Table settings */

.em-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;

  thead {
    tr {
      th {
        color: $white;
        padding: 0.4rem;
        background-color: $primary-trans;
      }
    }
  }

  tbody {
    tr {
      transition-duration: 0.5s;
      border-bottom: 1px solid $gray;

      td {
        padding: 0.4rem;
      }

      &:hover {
        background-color: $primary-hover !important;
        color: $primary;
        transition-duration: 0.5s;
        cursor: pointer;
      }

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(even) {
        background-color: $primary-secondary-trans;
      }
    }

    .selected {
      background-color: $primary-hover;
      color: $red;
    }
  }

  tfoot {
    tr {
      th {
        color: $white;
        padding: 0.4rem;
        background-color: $primary-trans;
      }
    }
  }
}


/* MatBlazor settings */

.mat-checkbox {
  label {
    margin-bottom: 0;
  }
}

.mdc-nav-item {
  margin: 0 0.4rem !important;
  border-radius: 4px;

  &:hover {
    background-color: $primary-hover !important;
    color: $primary !important;
  }

  &.important {
    background-color: $red-light;
  }
}

.mdc-floating-label.mat-floating-label--float-above-outlined.mdc-floating-label--float-above {
  background-color: transparent !important;
}

.mdc-floating-label.mdc-floating-label--float-above {
  transform: translateY(-190%) scale(0.75) !important;
}

.mdc-sub-menu-icon {
  top: 15% !important;
}

.mdc-select__anchor {
  width: 100% !important;
}

.mdc-text-field__input.invalid {
  border-bottom-color: $red !important;
}

.mdc-text-field__input.valid.modified {
  border-bottom-color: $green !important;
}

.mdc-button {
  text-transform: none !important;
  font-size: 1.05rem !important;
  line-height: 2.25rem !important;
}

.mdc-notched-outline__notch {
  text-align: center !important;
}

.mdc-dialog {
  .mdc-dialog__surface {
    min-width: 50vw !important;
    max-width: 90vw !important;
  }

  .mdc-dialog__title {
    color: $primary !important;
  }
}


/* Input settings */
.input-element {
  margin-bottom: 1rem;

  * {
    width: 100%;
  }
}

/* Current user panel */
.em-current-user {
  .data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Friend data */
.friend-data {
  .data-row {
    padding: 0.4rem;

    strong {
      color: $primary;
    }
  }
}


/* App */

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Validation */
.validation-errors {
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.validation-message {
  color: $red;
}


/* Error ui */
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  // border-radius: 100px;
  background: $primary-lighter;
}

::-webkit-scrollbar-thumb {
  background: $primary-light;
  // border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}


/* Input */

.input-row {
    padding: 0.6rem;
}

.tab-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    .mat-tab-group-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }
}


/* Main */

.main {
    .main-content {
        overflow: auto;
        height: 100%;
        background-color: $white-trans;
    }
}